<%- include('./layout') %>
    <h1 class="text-white mt-5 pb-2 fs-1 fw-bold text-center">Search Weather</h1>
    <p class="text-white fs-4 fw-light text-center">Search the name of the city and press Go!</p>
    <div class="container">    
        <form action="/search" method="POST">

            <div class="row d-flex p-4 justify-content-center">
                <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search City...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary text-white" type="submit">Go!</button>
                    </span>
                </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

        </form>

        <% if(weather){ %>
            
            <div class="container d-flex justify-content-center mt-4">
                <div class="w-50 d-flex justify-content-sm-between">
                    <span><strong>City:</strong> <p class="fw-light fs-5"><%= weather.name %></p></span>
                    <span><strong>Country:</strong> <p class="fw-light fs-5"><%= weather.sys.country %></p></span>
                    <span><strong>Temparatur:</strong> <p class="fw-light fs-5"><%= weather.main.temp %></p></span>
                </div>
            </div>
             <hr>
            <div class="text-center">
                <span><Strong>Pressuree: </Strong><%= weather.main.pressure %></span>
            </div>
            <div class="text-center">
                <span><Strong>Humidity: </Strong><%= weather.main.humidity %></span>
            </div>
            <div class="text-center mb-2">
                <span><Strong>Visibility: </Strong><%= weather.visibility %></span>
             </div>
            <div class="text-center">
                <span><Strong>Wind speed: </Strong><%= weather.wind.speed %>   </span>
                <span><Strong>      deg: </Strong><%= weather.wind.deg %></span>
            </div>
        <% } else { %>
            <p class="text-center">Search the name of a City to see weather details</p>
        <% } %>

    </div>

<%- include('./footer') %>
