<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Search Weather</title>
</head>
<body class="bg-dark text-white">

<nav class="navbar navbar-expand-lg container navbar-dark bg-dark">
  <div class="container-fluid mb-4">
    <div class="collapse navbar-collapse pt-4">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active h5" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

    <h1 class="text-white mt-5 pb-2 fs-1 fw-bold text-center">Search Weather</h1>
    <p class="text-white fs-4 fw-light text-center">Search the name of the city and press Go!</p>
    <div class="container">    
        <form action="/search" method="POST">

            <div class="row d-flex p-4 justify-content-center">
                <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Search City...">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary text-white" type="submit">Go!</button>
                    </span>
                </div><!-- /input-group -->
                </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->

        </form>

        <% if(weather){ %>
            
            <div class="container d-flex justify-content-center mt-4">
                <div class="w-50 d-flex justify-content-sm-between">
                    <span><strong>City:</strong> <p class="fw-light fs-5"><%= weather.name %></p></span>
                    <span><strong>Country:</strong> <p class="fw-light fs-5"><%= weather.sys.country %></p></span>
                    <span><strong>Temparatur:</strong> <p class="fw-light fs-5"><%= weather.main.temp %></p></span>
                </div>
            </div>
             <hr>
            <div class="text-center">
                <span><Strong>Pressuree: </Strong><%= weather.main.pressure %></span>
            </div>
            <div class="text-center">
                <span><Strong>Humidity: </Strong><%= weather.main.humidity %></span>
            </div>
            <div class="text-center mb-2">
                <span><Strong>Visibility: </Strong><%= weather.visibility %></span>
             </div>
            <div class="text-center">
                <span><Strong>Wind speed: </Strong><%= weather.wind.speed %>   </span>
                <span><Strong>      deg: </Strong><%= weather.wind.deg %></span>
            </div>
        <% } else { %>
            <p class="text-center">Search the name of a City to see weather details</p>
        <% } %>

    </div>
</body>
</html>